html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 45vh;  /* Reduced height slightly to give more space to the chart */
    width: 100vw;
}

#myChart {
    height: 55vh;  /* Increased height to provide more space for axes and labels */
    width: 100vw;
}

#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}